In [7]:
from main import Shealth

In [8]:
shealth = Shealth()

In [9]:
shealth.data_set

,day,date,weight,steps,walk_duration,sport_duration,spent_energy,country_number
0,Friday,2015-03-06,68.0,6178.0,70,6,354,33
1,Monday,2015-04-06,69.0,8342.0,72,11,465,33
2,Wednesday,2015-05-06,69.0,10048.0,91,40,722,33
3,Saturday,2015-06-06,69.0,6593.0,55,0,270,33
4,Monday,2015-07-06,69.0,1417.0,12,0,71,33
...,...,...,...,...,...,...,...,...
604,Friday,2017-01-27,71.0,4988.0,45,0,219,33
605,Saturday,2017-01-28,71.0,8839.0,83,1,363,33
606,Sunday,2017-01-29,71.0,823.0,7,0,33,33
607,Monday,2017-01-30,71.0,5099.0,46,0,209,33
608,Tuesday,2017-01-31,71.0,9705.0,86,2,423,33

In [10]:
shealth.data_set_description

,weight,steps,walk_duration,sport_duration,spent_energy,country_number
count,609.000000,609.000000,609.000000,609.000000,609.000000,609.000000
mean,70.568144,7943.587849,72.852217,4.464696,367.402299,43.796388
std,1.022302,6152.609571,46.101196,13.091875,233.496480,58.218208
min,68.000000,7.000000,1.000000,0.000000,4.000000,32.000000
25%,70.000000,5250.000000,48.000000,0.000000,232.000000,33.000000
50%,71.000000,7691.000000,69.000000,0.000000,343.000000,33.000000
75%,71.000000,10181.000000,94.000000,1.000000,477.000000,33.000000
max,73.000000,107222.000000,271.000000,113.000000,1393.000000,974.000000

In [11]:
shealth.correlation

,weight,steps,walk_duration,sport_duration,spent_energy,country_number
weight,1.000000,-0.007619,0.055493,-0.094721,0.002176,-0.021626
steps,-0.007619,1.000000,0.712138,0.074365,0.645958,0.034389
walk_duration,0.055493,0.712138,1.000000,0.064996,0.882367,0.072548
sport_duration,-0.094721,0.074365,0.064996,1.000000,0.509720,0.014921
spent_energy,0.002176,0.645958,0.882367,0.509720,1.000000,0.051996
country_number,-0.021626,0.034389,0.072548,0.014921,0.051996,1.000000

In [12]:
shealth.display_correlation_confidence_interval()

weight : steps : [-0.08701772737005448, 0.7930579730148876]
weight : walk_duration : [-0.024064823154658445, 0.7930579730148876]
weight : sport_duration : [-0.17287221102037487, 0.7930579730148876]
weight : spent_energy : [-0.07728912025039905, 0.7930579730148876]
weight : country_number : [-0.10090407693849443, 0.7930579730148876]
steps : weight : [-0.08701772737005448, 0.7930579730148876]
steps : walk_duration : [0.6706314797997768, 0.7930579730148876]
steps : sport_duration : [-0.005116874681849462, 0.7930579730148876]
steps : spent_energy : [0.597153969035157, 0.7930579730148876]
steps : country_number : [-0.04518627228567118, 0.7930579730148876]
walk_duration : weight : [-0.024064823154658445, 0.7930579730148876]
walk_duration : steps : [0.6706314797997768, 0.7930579730148876]
walk_duration : sport_duration : [-0.01453090963680786, 0.7930579730148876]
walk_duration : spent_energy : [0.7930579730148876, 0.8634481874023089]
walk_duration : country_number : [-0.006943913956762186, 0.7930579730148876]
sport_duration : weight : [-0.17287221102037487, 0.7930579730148876]
sport_duration : steps : [-0.005116874681849462, 0.7930579730148876]
sport_duration : walk_duration : [-0.01453090963680786, 0.7930579730148876]
sport_duration : spent_energy : [0.44842874958456014, 0.7930579730148876]
sport_duration : country_number : [-0.0646071169307661, 0.7930579730148876]
spent_energy : weight : [-0.07728912025039905, 0.7930579730148876]
spent_energy : steps : [0.597153969035157, 0.7930579730148876]
spent_energy : walk_duration : [0.7930579730148876, 0.8634481874023089]
spent_energy : sport_duration : [0.44842874958456014, 0.7930579730148876]
spent_energy : country_number : [-0.027570113456205626, 0.7930579730148876]
country_number : weight : [-0.10090407693849443, 0.7930579730148876]
country_number : steps : [-0.04518627228567118, 0.7930579730148876]
country_number : walk_duration : [-0.006943913956762186, 0.7930579730148876]
country_number : sport_duration : [-0.0646071169307661, 0.7930579730148876]
country_number : spent_energy : [-0.027570113456205626, 0.7930579730148876]