In [ ]:
from main import Shealth

In [2]:
shealth = Shealth()

In [3]:
shealth.data_set

,day,date,weight,steps,walk_duration,sport_duration,spent_energy,country_number
0,Friday,2015-03-06,68.0,6178.0,70,6,354,33
1,Monday,2015-04-06,69.0,8342.0,72,11,465,33
2,Wednesday,2015-05-06,69.0,10048.0,91,40,722,33
3,Saturday,2015-06-06,69.0,6593.0,55,0,270,33
4,Monday,2015-07-06,69.0,1417.0,12,0,71,33
...,...,...,...,...,...,...,...,...
604,Friday,2017-01-27,71.0,4988.0,45,0,219,33
605,Saturday,2017-01-28,71.0,8839.0,83,1,363,33
606,Sunday,2017-01-29,71.0,823.0,7,0,33,33
607,Monday,2017-01-30,71.0,5099.0,46,0,209,33
608,Tuesday,2017-01-31,71.0,9705.0,86,2,423,33

In [4]:
shealth.data_set_description

,weight,steps,walk_duration,sport_duration,spent_energy,country_number
count,609.000000,609.000000,609.000000,609.000000,609.000000,609.000000
mean,70.568144,7943.587849,72.852217,4.464696,367.402299,43.796388
std,1.022302,6152.609571,46.101196,13.091875,233.496480,58.218208
min,68.000000,7.000000,1.000000,0.000000,4.000000,32.000000
25%,70.000000,5250.000000,48.000000,0.000000,232.000000,33.000000
50%,71.000000,7691.000000,69.000000,0.000000,343.000000,33.000000
75%,71.000000,10181.000000,94.000000,1.000000,477.000000,33.000000
max,73.000000,107222.000000,271.000000,113.000000,1393.000000,974.000000